:root{
  --font-title:'Bodoni Moda SC', serif;
  --font-text: 'Josefin Sans', sans-serif;
  --background-dark: #3B486D;
  --background-light: #EDDFD6;
  --background-option: #D1DBE5;
  --color-light: #EDDFD6;
  --color-dark: #3B486D;
  --color-option: #D1DBE5;
}

html {
  margin: 0;
  padding: 0; 
  height: 100%;
}

body {
  margin: 0; 
  padding: 0.5rem; 
  font-family: var(--font-text);
  background: #f1f5f9;
  color: #0f172a;
  display: flex;
  flex-direction: column;
}

h1,h2,h3,h4{
  font-family: var(--font-title);
}




