.page{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(12, auto);
  gap: 8px;
  /*height: 100vh;*/
  padding: 0.5rem;
}

.banner{
  grid-column: span 3 / span 3;
  grid-row: span 4 / span 4;
  background: var(--background-light);
  border-radius: 10px;
}

.new{
  grid-column: span 2 / span 2;
  grid-row: span 4 / span 4;
  grid-column-start: 4;
  background: var(--background-dark);
  border-radius: 10px;
}

.catalogo{
  grid-column: span 5 / span 5;
  grid-row: span 5 / span 5;
  grid-row-start: 5;
  background: var(--background-light);
  border-radius: 10px;
}

.tendencia {
  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;
  grid-row-start: 10;
  background: var(--background-dark);
  border-radius: 10px;
}


.coments {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 4;
  grid-row-start: 10;
  background: var(--background-option);
  border-radius: 10px;
}